{{ define "title" }}Buy Requests For Andrew{{ end }}

{{ define "content" }}
    <div class="jumbotron">
        <h1>Buy Requests</h1>
        <p class="lead">
            This webapp allows you to ask Andrew to buy things when he's in
            Shenzhen.  If you don't have an access link already, please email
            Andrew at <a href="mailto:andrew@du.nham.ca">andrew@du.nham.ca</a>,
            or at <a href="mailto:andrew@matasano.com">andrew@matasano.com</a>
            for an invite.
        </p>
    </div>
{{ end }}
